.about {
    font-family: "Poppins", sans-serif;
    width: 900px;
    border: 0px solid #f6d0b5;
    height: 450px;
    background: #1e1e1f;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 30px;
    border-radius: 7px;
    box-shadow: #f6d0b5 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.about-text {
    line-height: 25px;
    font-size: medium;
    color: #929292;
}
.about-btn {
    display: flex;
    gap: 30px;
}

.skills {
    width: 80px;
    background: #1e1e1f;
    color: white;
    box-shadow: #f6d0b5 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    height: 30px;
    border-radius: 9px;
}

@media (700px<= width<=1060px) {
    .about {
        width: 600px;
        height: 550px;
    }
}

@media (max-width: 700px) {
    .about {
        width: 450px;
        height: 550px;
    }
    .skills {
        width: 90px;
        font-size: 0.6rem;
    }
}

@media (max-width: 500px) {
    .about {
        width: 330px;
        height: 870px;
    }
    .about-btn {
        display: flex;
        gap: 19px;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .about {
        width: 290px;
        height: 890px;
    }
}
